<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <uses-permission -->
    <!-- android:name="android.permission.PACKAGE_USAGE_STATS" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Package_permission"
        tools:targetApi="31">
        <activity
            android:name=".ac0_main.Ac0_09_user_info"
            android:exported="false" />
        <activity
            android:name=".ac0_main.Ac0_00_main_init_main"
            android:exported="false" />
        <activity
            android:name=".ac1_applock.EditLockAppActivity"
            android:exported="false" />
        <activity
            android:name=".ac1_applock.AlarmActivity"
            android:exported="false" /> <!-- 여기서부턴 로그인,핀/패턴 -->
        <activity
            android:name=".ac0_login.Ac0_02_register"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_03_choose_pinOrPattern"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_04_pattern_setup"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_05_pattern_verify"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_06_pin_setup"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_07_pin_verify"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_08_pinpattern_forwarding"
            android:exported="false" />
        <activity
            android:name=".ac1_applock.Ac1_01_applock_init_main"
            android:exported="false" /> <!-- <activity  로그인 기능 적용 전 -->
        <!-- android:name=".ac1_applock.Ac1_01_applock_init_main" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".ac0_login.Ac0_01_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ac1_applock.AppLockAccessibilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>